:root{
    --p-font: 1.2rem;
}

body{
    /*background-color:rgb(255, 223, 221);*/
    background-color: rgb(244, 239, 255)
}

.top-section {
    background-image: url('images/crystals-about.jpg');
    background-position: bottom;
    background-size: cover;
    position: relative;
    background-color: silver;
    top: 0;
    height:50vh;
    text-align: center;
}

/*Prducuct pages*/
@font-face {
    font-family: MyFirstFont;
    src: url(/font-family/Crystal\ Heart.ttf);
}
#producth1 {
    font-family: MyFirstFont;
}
.adbn-wrap{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(217 217 217 / 88%);
    backdrop-filter: blur(2px);
    z-index: 999;
  }
.adbn-wrap div{
    align-self: center;
    width: 30vw;
    background: #010a26;
    padding: 30px 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 35px 20px -20px #ababab;
    color: #fff;
    border-top: 2px solid #ff8d00;
    animation: popupanim ease-out 0.5s;
    animation-iteration-count: 1;
  }
.adbn-wrap div p{
    line-height: 1.8;
    margin-bottom: 0;
    font-size: 16px;
  }
.adbn-wrap div button{
    margin-top: 14px;
    background: #ffffff;
    color: #000;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    padding: 3px 12px;
  }
@keyframes popupanim{
  from{
    opacity:0.3;
    transform:translate(0px,40px);
    }
  to{
      opacity:1;
      transform:translate(0px,0px)  ;
    }
  }
@media screen and (max-width: 1200px) {
.adbn-wrap div{
  width: 70vw;
  }
  }
/*Prducuct pages*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Contact*/
.map{
    border: solid 1px;
    width:425px;
    height:350px; 
}

.contact-top-section {
    background-image: url('images/crystals-about.jpg');
    background-position: bottom;
    background-size:cover;
    position:relative;
    background-color: silver;
    top:0;
    padding: 8vw 2vw 8vw 2vw;
    float: center;
    width: 100%;
    max-width: 2000vw;
}
    
/* End contact */ 


/*---------------ABOUT CRYSTALS PAGE----------------------*/


#scrollspy-crystal-info{
    overflow: scroll;
    height: 30rem;
}

.about-top-section{

    background-image: url('images/crystals-about.jpg');
    background-position: bottom;
    background-size:cover;
    position:relative;
    background-color: silver;
    top:0;
    padding: 8vw 2vw 8vw 2vw;
    color:black;
    text-align: center;
}

.about-article{
    text-align: center;
    margin:auto;
}

.about-header{
    font-size: 5vh;
    padding: 1.5rem 0.5rem 0rem 0.5rem ;
}

.about-article p{
    font-size: var(--p-font);
    padding: 3vh;
    width: 85%;
    margin:auto;
}

.crystallic-svg{
    display: block;
    margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width:10%;
  height:10%;
}

.crystal-svg{
    display: block;
    margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width:10%;
  height:10%;
}

/*---------------END ABOUT CRYSTALS PAGE----------------------*/


/*------------NEWS CSS--------------*/

@font-face {
    font-family: dancingFont;
    src: url(/font-family/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

.news-article{
    text-align: center;
}

.news-header {
    font-size: 5vh;
    padding: 1.5rem 0.5rem 0rem 0.5rem ;
}

.news-article p{
    font-size: var(--p-font);
    padding: 3vh;
}

.form-container {
    background-color: white;
}

.news-quotes {
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size:var(--p-font);
    font-family: dancingFont;
    width: 75%;
    margin: auto;
}

.news-quotes div{
    border:solid;
    padding: 1.5rem;

}

.news-h2{
    text-align: center;
    padding: 2rem;
}


/*------------END NEWS CSS--------------*/

/*---------------MEDIA QUERIES----------------------*/

/*Same as md in Bootstrap*/
@media only screen and (min-width: 767px) {
    .about-article{
        width: 70%;
    }
}

/*Same as lg in Bootstrap*/
@media only screen and (min-width: 991px) {
    .news-quotes{
        font-size: 1.6rem;
        flex-direction: row;
        width:100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .news-quotes div{
        flex-basis: 20%;
    }

    .news-quotes div{
        transition: flex-basis 2s, font-weight 1s, font-size 2s, border-width 2s;
    }
    .news-quotes div:hover{
        flex-basis:24%;
        font-size: 2rem;
        font-weight: bolder;
        border-width: 3px;
    }
}

.carousel-item img{
    width: auto;
    height: 500px;
    max-height: 500px;
    margin: auto; 
    display: block;
    }
    .carousel-inner {
        background-image:url("pexels-noelle-otto-906056.jpg");
    }
    body, html {
        height: 100%;
        margin: 0;
      }
      .hero-image {
        background-image: url("images/pexels-noelle-otto-906056.jpg");
        height: 75%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .hero-text {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
      .navbar-collapse {
          font-size: large;    
      }
      .nav-link:hover {
        border-bottom: 3px solid black;      
    }
    .nav-link.active {
        border-bottom: 3px solid black;
    }
